<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body align="center">
<form action="" method="post">
    id:<input type="text" name="Id" placeholder="Id" required="" size="20"><br>
    name:<input type="text" name="Name" placeholder="Name" required="" size="20"><br>
    address:<input type="text" name="Address" placeholder="Address" required="" size="20"><br>
    year:<input type="text" name="Year" placeholder="Year" required="" size="20"><br>
    <button>Submit</button>
</form>
</body>
</html>